@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333;
}
/************<!-- общие стили aside блоков -->*************/
.menu,
.info,
.help {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  color: #212325;
}
/************<!-- общие стили заголовков -->*************/
.menu__title,
.info__title,
.help__title,
.news__title,
.news__text-up,
.oldnews__title,
.carousel__item-title,
.social__title,
.social__block-title,
.footer__title {
  position: relative;
  font-size: 18px;
  color: #212325;
  font-weight: 700;
  letter-spacing: 0px;
}
.menu__title::before,
.info__title::before,
.help__title::before,
.oldnews__title::before,
.social__title::before,
.footer__title::before {
  content: '';
  position: absolute;
  bottom: -13px;
  left: 0;
  height: 3px;
  background-color: #609cf5;
}
/************<!-- общие стили текста -->*************/
.info__card-text,
.help__text,
.news__text--down,
.oldnews__card-text,
.carousel__item-text,
.social__block-text {
  letter-spacing: 0px;
  color: #494c4d;
  font-weight: 400;
}
/************<!-- общие стили кнопок -->*************/
.info__card-btn,
.news__btn,
.oldnews__card-btn,
.carousel__item-btn {
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #609cf5;
  font-weight: 700;
  padding: 19px 33px;
  border-radius: 4px;
  background-color: #f5f6f7;
  border: 2px solid #609cf5;
  transition: background-color 0.5s ease;
}
.info__card-btn:hover,
.news__btn:hover,
.oldnews__card-btn:hover,
.carousel__item-btn:hover {
  background-color: #cfd9e7;
}
/************<!-- остальное -->*************/
/************<!-- общий -->*************/

/************<!-- скрывающейся меню -->*************/
.aside {
  flex: 0 0 280px;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
}
/************<!-- строка поиска -->*************/
.search {
  width: 100%;
  display: flex;
  background-color: #eff1f2;
}
.search__input {
  width: 260px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.search__input:hover {
  border-color: #609cf5;
  box-shadow: 0 0 5px rgba(96, 156, 245, 0.5);
}
.search__input:focus {
  border-color: #609cf5;
  box-shadow: 0 0 8px rgba(96, 156, 245, 0.8);
  outline: none;
}
/************<!-- меню -->*************/
.menu__title {
  margin-bottom: 67px;
}
.menu__title::before {
  width: 55px;
}
.menu__list {
  list-style: none;
}
.menu__item {
  border-bottom: 2px solid #e0e3e5;
  padding-bottom: 20px;
}
.menu__item:not(:first-of-type) {
  padding-top: 30px;
}
.menu__link {
  text-decoration: none;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #212325;
  font-weight: 400;
  font-family: 'Roboto';
}
.menu__link:hover {
  color: #609cf5;
}
/************<!-- инфо -->*************/
.info__title {
  margin-bottom: 63px;
}
.info__title::before {
  width: 190px;
}
.info__card {
  border-bottom: 2px solid #e0e3e5;
}
.info__card-img {
  width: 263px;
  height: 100px;
  border-radius: 4px;
  background-color: #b7b7b7;
  cursor: pointer;
  transition: transform 0.5s ease;
  margin-bottom: 20px;
  margin-top: 20px;
}
.info__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.info__card-img:hover {
  transform: scale(1.05);
}
.info__card-text {
  margin-bottom: 30px;
}
.info__card-btn {
  margin-top: 5px;
  margin-bottom: 10px;
}
/************<!-- помощь -->*************/
.help__title {
  margin-bottom: 50px;
}
.help__title::before {
  width: 83px;
}
.help__link {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 45px;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 24px;
  color: #494c4d;
  font-weight: 400;
  border-bottom: 2px solid #e0e3e5;
}
.help__contact {
  text-decoration: underline;
}
.help__icon {
  font-size: 20px;
  margin-right: 35px;
  color: #609cf5;
}
/************<!-- main  -->*************/
/************<!-- main  -->*************/
.main {
  /* flex: 1; */
  display: flex;
  position: relative;
  top: 0;
  right: 0;

  padding: 0 110px;

  transition: width 1s ease;
  padding-top: 84px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
/************<!-- меню-кнопка -->*************/
.main__menu-icon {
  position: absolute;

  top: 18px;
  cursor: pointer;
  font-size: 36px;
  color: #609cf5;
  z-index: 1000;
}
/************<!-- основная часть -->*************/
/************<!-- logo -->*************/
.main__logo {
  border-bottom: 3px solid #609cf5;
  padding-bottom: 20px;
}
.main__logo-link {
  text-decoration: none;
  font-size: 18px;
  color: #212325;
  font-weight: 700;
}
/************<!-- блок новостей -->*************/

/************<!-- блок новостей(блок текста) -->*************/
.news__block {
  width: 361px;
}
.news__title--size {
  font-size: 36px;
  line-height: 50px;
}
.news__title {
  margin-bottom: 5px;
}
.news__text-up {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.news__text-down {
  margin-bottom: 25px;
}
/************<!-- блок новостей(блок фото/картинки) -->*************/
.news__img {
  width: 360px;
  height: 303px;
  border-radius: 4px;
  background-color: #b7b7b7;
}
.news__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/************<!-- блок old новостей -->*************/
.oldnews {
  margin-top: 60px;
  border-bottom: 2px solid #e0e3e5;
  padding-bottom: 40px;
  margin-bottom: 60px;
}
/************<!-- Заголовок old новостей -->*************/
.oldnews__title--size {
  font-size: 24px;
}
.oldnews__title::before {
  width: 338px;
}
/************<!-- общий блок old новостей -->*************/
.oldnews__blocks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}
/************<!-- old блок новостей -->*************/
.oldnews__card {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0e3e5;
  padding: 16px;
  padding-bottom: 40px;
}
/* Стили для первой и второй карточки */
.oldnews__card:nth-child(1),
.oldnews__card:nth-child(2) {
  padding-top: 0;
  border-top: none;
}
.oldnews__card:nth-last-child(1),
.oldnews__card:nth-last-child(2) {
  border-bottom: none;
}
/* Стили для левых карточек (1, 3, 5) */
.oldnews__card:nth-child(odd) {
  padding-left: 0;
  padding-right: 10px;
  border-left: none;
}
/* Стили для правых карточек (2, 4, 6) */
.oldnews__card:nth-child(even) {
  padding-right: 0;
  padding-left: 10px;
  border-right: none;
}
.oldnews__card-img {
  width: 364px;
  height: 173px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.oldnews__card-img img {
  border-radius: 4px;
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.oldnews__card-img:hover img {
  transform: scale(1.1) translateY(5%);
}
.oldnews__card-title {
  font-size: 16px;
  color: #212325;
  font-weight: 700;
  margin-bottom: 20px;
  width: 364px;
}
.oldnews__card-text {
  width: 364px;
  margin-bottom: 20px;
}
.oldnews__card-btn-container {
  width: 364px;
}
/************<!--  карусель -->*************/
.carousel {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
/************<!--  карточка карусели -->*************/
/************<!-- фото карточки карусели -->*************/
.carousel__item-img {
  width: 165px;
  height: 120px;
  background-color: #b7b7b7;
  transition: box-shadow 0.4s ease;
  margin-bottom: 20px;
}
.carousel__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel__item-img:hover {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.507);
}
/************<!-- заголовок карточки карусели -->*************/
.carousel__item-title {
  font-size: 16px;
  margin-bottom: 20px;
}
.carousel__item-text {
  width: 164px;
  margin-bottom: 25px;
}
.carousel__item-btn {
  font-size: 10px;
  letter-spacing: 1px;
  padding: 14px 16px;
}
/************<!-- блок соц.сети -->*************/
.social__title {
  font-size: 24px;
  margin-bottom: 50px;
}
.social__title::before {
  width: 160px;
}
.social__blocks {
  display: flex;
  justify-content: space-around;
}
.social__block {
  display: flex;
  align-items: center;
}
.social__block-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  font-size: 36px;
  color: #609cf5;
  text-decoration: none;
}
.social__block-title {
  font-size: 16px;
  margin-bottom: 20px;
}
.social__block-text {
  width: 260px;
}
/*------------------------------------------------*/
.hidefooter {
  display: none;
}
/* Новый скрытый стиль для растягивания блока main */
.content-expanded {
  margin-left: -304px;
  width: calc(100% + 304px);
  transition: margin-left 1.5s ease, width 1.5s ease;
}
.content-collapsed {
  margin-left: 0;
  width: 100%;
  transition: margin-left 1.5s ease, width 1.5s ease;
}
/*/////////////////////////////////////////////////////////////*/
@media (min-width: 364px) and (max-width: 556px) {
  .content-expanded {
    margin-top: -765px;
    height: calc(100% + 765px);
  }
}
@media (min-width: 320px) {
  .content-expanded {
    margin-top: -800px;
    margin-left: 0;
    width: 100%;
    height: calc(100% + 800px);
    transition: margin-top 1.5s ease, height 1.5s ease;
  }
  .content-collapsed {
    margin-top: 0px;
    margin-left: 0px;
    height: 100%;
    transition: margin-top 1.5s ease, height 1.5s ease;
  }
  .container {
    width: 100%;
    display: block;
  }
  .aside {
    width: 100%;
  }
  .search__input {
    width: 100%;
  }
  .menu,
  .info {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .menu__title {
    margin-bottom: 20px;
  }
  .menu__title::before {
    bottom: -5px;
  }
  .menu__item {
    border-bottom: 2px solid #e0e3e5;
    padding-bottom: 10px;
  }
  /*/*/
  .info__title {
    margin-bottom: 40px;
  }
  .info__card-img {
    width: 100%;
  }
  .info__card-text {
    margin-bottom: 20px;
  }
  .info__card-btn {
    padding: 10px 10px;
  }
  /*/*/
  .help {
    display: none;
  }
  .main {
    width: 100%;
    display: block;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  /*/*/
  .main__menu-icon {
    position: absolute;
    left: 270px;
    top: 18px;
    cursor: pointer;
    font-size: 36px;
    color: #609cf5;
    z-index: 1000;
  }
  /*/*/
  .main__logo {
    border-bottom: 3px solid #609cf5;
    padding-bottom: 10px;
  }
  .main__logo-link {
    text-decoration: none;
    font-size: 18px;
    color: #212325;
    font-weight: 700;
    position: relative;
    left: 10px;
  }
  /*/*/
  .news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    padding: 20px 10px;
  }
  .news__block {
    width: 100%;
  }
  .news__title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .news__text-up,
  .news__text-down {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .news__btn {
    padding: 10px 10px;
  }
  .news__img {
    width: 100%;
    height: auto;
    order: -1;
    background-color: #ffffff;
  }
  .news__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }
  /*/*/
  .oldnews {
    margin-top: 20px;
    border-bottom: 2px solid #e0e3e5;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
  .oldnews__title--size {
    font-size: 18px;
  }
  .oldnews__title::before {
    width: 250px;
  }
  .oldnews__card {
    padding: 0px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #e0e3e5;
  }
  .oldnews__card:nth-last-child(1) {
    border: none;
  }
  .oldnews__card:nth-last-child(2) {
    border-bottom: 1px solid #e0e3e5;
  }
  /* Стили для левых карточек (1, 3, 5) */
  .oldnews__card:nth-child(odd) {
    padding-left: 0;
    padding-right: 0px;
    border-left: none;
  }
  /* Стили для правых карточек (2, 4, 6) */
  .oldnews__card:nth-child(even) {
    padding-right: 0;
    padding-left: 0px;
    border-right: none;
  }
  .oldnews__card-img {
    width: 300px;
    height: 173px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .oldnews__card-title {
    font-size: 16px;
    color: #212325;
    font-weight: 700;
    margin-bottom: 20px;
    width: 300px;
  }
  .oldnews__card-text {
    width: 300px;
    margin-bottom: 20px;
  }
  .oldnews__card-btn {
    padding: 10px 10px;
  }
  .oldnews__card-btn-container {
    width: 300px;
    margin-bottom: 10px;
  }
  /*/*/
  .carousel {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5px;
    margin-bottom: 30px;
  }
  .carousel__item {
    width: 44%;
  }
  .carousel__item-img {
    width: 100%;
    height: auto;
    height: 120px;
    background-color: #b7b7b7;
    transition: box-shadow 0.4s ease;
    margin-bottom: 20px;
  }
  .carousel__item-title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .carousel__item-text {
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 25px;
  }
  .carousel__item-btn {
    font-size: 12px;
    padding: 8px 10px;
  }
  /*/*/
  .social {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #e0e3e5;
  }
  .social__title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .social__title::before {
    width: 120px;
  }
  .social__blocks {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .social__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;

    text-align: left;
  }
  .social__block-link {
    margin-bottom: 10px;
    font-size: 36px;
    color: #609cf5;
  }
  .social__block-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .social__block-text {
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
    width: 95%;
  }
  .hidefooter {
    display: block;
  }
  .footer {
    padding: 0px 10px;
    margin-bottom: 10px;
  }
  .footer__title {
    margin-bottom: 20px;
  }
  .footer__title {
    font-size: 16px;
  }
  .footer__title::before {
    width: 73px;
  }
  .footer__text {
    font-size: 12px;
  }
  .footer__link {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 18px;
    color: #494c4d;
    font-weight: 400;
  }
  .footer__link:not(:last-of-type) {
    border-bottom: 2px solid #e0e3e5;
  }
  .footer__contact {
    text-decoration: underline;
  }
  .footer__icon {
    font-size: 20px;
    margin-right: 35px;
    color: #609cf5;
  }
}
@media (min-width: 350px) {
  .main__menu-icon {
    left: 300px;
  }
}
@media (min-width: 375px) {
  .main__menu-icon {
    left: 330px;
  }
}
@media (min-width: 420px) {
  .main__menu-icon {
    left: 380px;
  }
}
@media (min-width: 364px) and (max-width: 556px) {
  .content-expanded {
    margin-top: -765px;
    height: calc(100% + 765px);
    transition: margin-top 1.5s ease, height 1.5s ease;
  }
}
@media (min-width: 426px) {
  .main__menu-icon {
    left: 40px;
  }
}
@media (min-width: 430px) {
  .main__menu-icon {
    left: 360px;
  }
}
@media (min-width: 500px) {
  .main__menu-icon {
    left: 440px;
  }
}
@media (min-width: 540px) {
  .main__menu-icon {
    left: 480px;
  }
}
@media (min-width: 555px) {
  .main__menu-icon {
    left: 480px;
  }
  .content-expanded {
    margin-top: -765px;
    height: calc(100% + 765px);
  }
}
@media (min-width: 620px) {
  .main__menu-icon {
    left: 560px;
  }
}
@media (min-width: 650px) {
  .main__menu-icon {
    left: 600px;
  }
  .oldnews__card:nth-last-child(2) {
    border-bottom: none;
  }
}
@media (min-width: 644px) {
  .content-expanded {
    margin-top: 0;
    margin-left: -280px;
    width: calc(100% + 280px);
    transition: margin-left 1.5s ease, width 1.5s ease;
  }
  .content-collapsed {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    transition: margin-left 1.5s ease, width 1.5s ease;
  }
  .main__menu-icon {
    left: 20px;
  }
  .main__logo-link {
    left: 70px;
  }
  .container {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  .footer {
    display: none;
  }
  .help {
    display: block;
  }
  .oldnews__card {
    border: none;
  }
}
@media (min-width: 768px) {
  .content-expanded {
    margin-left: -280px;
    width: calc(100% + 280px);
  }
  .news {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 75px;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid #e0e3e5;
    flex-direction: row;
  }
  .news__block {
    width: 100%;
  }
  .news__title--size {
    font-size: 36px;
    line-height: 50px;
  }
  .news__title {
    margin-bottom: 5px;
  }
  .news__text-up {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .news__text-down {
    margin-bottom: 25px;
  }
  /************<!-- блок новостей(блок фото/картинки) -->*************/
  .news__img {
    width: 100%;
    height: 303px;
    border-radius: 4px;
    background-color: #b7b7b7;
    order: 2;
  }
  .news__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel__item {
    width: 40%;
  }
  .carousel {
    display: flex;
    justify-content: space-around;

    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  .carousel__item-img {
    width: 100%;
    height: 120px;
    background-color: #b7b7b7;
    transition: box-shadow 0.4s ease;
    margin-bottom: 20px;
  }
  .carousel__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel__item-img:hover {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.507);
  }
  /************<!-- заголовок карточки карусели -->*************/
  .carousel__item-title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .carousel__item-text {
    width: 100%;
    margin-bottom: 25px;
  }
  .carousel__item-btn {
    font-size: 12px;
    padding: 10px;
  }
  .social__blocks {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .social__block {
    padding: 0 100px;
  }
}
@media (min-width: 960px) {
  .oldnews__card {
    margin-top: 0;
    padding-top: 10px;
    border: 1px solid #e0e3e5;
  }
  /* Стили для первой и второй карточки */
  .oldnews__card:nth-child(1),
  .oldnews__card:nth-child(2) {
    padding-top: 0;
    border-top: none;
  }
  .oldnews__card:nth-last-child(1),
  .oldnews__card:nth-last-child(2) {
    border-bottom: none;
  }
  /* Стили для левых карточек (1, 3, 5) */
  .oldnews__card:nth-child(odd) {
    padding-left: 0;
    padding-right: 10px;
    border-left: none;
  }

  /* Стили для правых карточек (2, 4, 6) */
  .oldnews__card:nth-child(even) {
    padding-right: 0;
    padding-left: 10px;
    border-right: none;
  }
  .oldnews__card:last-of-type {
    border-top: 1px solid #e0e3e5;
    border-left: 1px solid #e0e3e5;
  }
  .oldnews__card-img {
    width: 300px;
    height: 173px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .oldnews__card-img img {
    border-radius: 4px;
    width: 300px;
    height: 90%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .oldnews__card-img:hover img {
    transform: scale(1.1) translateY(5%);
  }
  .oldnews__card-title {
    font-size: 16px;
    color: #212325;
    font-weight: 700;
    margin-bottom: 20px;
    width: 300px;
  }
  .oldnews__card-text {
    width: 300px;
    margin-bottom: 20px;
  }
  .oldnews__card-btn-container {
    width: 300px;
  }
}
@media (min-width: 1024px) and (max-width: 1044px) {
  .oldnews__card {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .content-expanded {
    margin-left: -280px;
    width: calc(100% + 280px);
  }
  .carousel__item {
    width: 20%;
  }

  .main {
    padding: 80px 50px;
  }
  .main__logo-link {
    left: 0px;
  }

  .social__blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .social__block {
    display: flex;

    align-items: center;
    flex-direction: row;

    padding: 50px;
  }
}
